<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>School Admin Dashboard | Login</title>
</head>
<body>

    <div class="container" id="container">
        <form class="form" id="form" method="post" action="/">
            <input class="admin" id="admin" name="admin" type="password" placeholder="Admin Password">
            <button class="btn-sub" id="btn-sub" type="submit">Login</button>
        </form>
    </div>

</body>
</html>